@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-inter), sans-serif;
    background-color: #e7e7e7;
    color: #000000;
  }
}

:root {
  --font-kristi: 'Kristi', cursive;
  --font-meow-script: 'Meow Script', cursive;
  --font-dancing-script: 'Dancing Script', cursive;
}

.font-kristi {
  font-family: var(--font-kristi);
}

.font-meow-script {
  font-family: var(--font-meow-script);
}

.font-dancing-script {
  font-family: var(--font-dancing-script);
}
